@import "../../variables.scss";

.intro {
  background-size: auto;
  background-image: url("./img/head-desk.png");
  background-repeat: no-repeat;
  background-position: center -30px;
  text-align: center;

  @media (max-width: $tablet-width) {
    background-image: url("./img/intro-tablet.png");
    background-position: center -90px;
  }
}

.intro__title {
  margin: 0;
  padding-bottom: 50px;

  @media (max-width: $tablet-width) {
    padding-bottom: 50px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 48px;
    padding-bottom: 47px;
  }
}

.intro__name {
  margin: 0;
  text-transform: none;
  font-size: 60px;
  line-height: 69px;
  color: $yellow;
  padding-top: 80px;

  @media (max-width: 991px) {
    font-size: 60px;
    line-height: 72px;
  }

  @media (max-width: $tablet-width) {
    font-size: 40px;
    line-height: 46px;
  }
}
  
